[Unit]
Description=Elasticsearch Exporter
After=network.target

[Service]
ExecStart={{ elasticsearch_exporter_symlink }} \
            --es.uri="{{ elasticsearch_exporter_es_uri }}" \
            {{ elasticsearch_exporter_flags }} \
            --es.timeout {{ elasticsearch_exporter_es_timeout }} \
            --web.listen-address {{ elasticsearch_exporter_web_listen_address }} \
            --web.telemetry-path {{ elasticsearch_exporter_web_telemetry_path }} 

[Install]
WantedBy=multi-user.target